<p>Sorry but Twitter user <em><%= h(@twitter_name) %></em> is not configured for reviewing.  Get <%= mail_to "conference@scotlandonrails.com", "in touch", :encode=>"javascript" %> if this is a mistake.</p>
