<h1>Be like that then</h1>

Ok, so we're using <%= link_to "Twitter OAuth", "http://apiwiki.twitter.com/OAuth-FAQ" %> for authorisation; it's Twitter not us that gets your username and password.  Do you want to try authorising us <%= link_to "here", @oauth_link %>, again?
